In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!mkdir "/content/drive/MYDrive/glove"
!wget http://nlp.stanford.edu/data/glove.6B.zip
!unzip glove.6B.zip -d "/content/drive/MyDrive/glove"

In [ ]:
!export CUDA_VISIBLE_DEVICES=0,1,2,3

In [ ]:
!pip install OpenNMT-py==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting OpenNMT-py==1.2.0
  Downloading OpenNMT_py-1.2.0-py3-none-any.whl (195 kB)
     |████████████████████████████████| 195 kB 6.9 MB/s
Collecting torchtext==0.4.0
  Downloading torchtext-0.4.0-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.8 MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from OpenNMT-py==1.2.0) (0.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from OpenNMT-py==1.2.0) (4.64.1)
Collecting waitress
  Downloading waitress-2.1.2-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 6.2 MB/s
Collecting configargparse
  Downloading ConfigArgParse-1.5.3-py3-none-any.whl (20 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from OpenNMT-py==1.2.0) (1.15.0)
Collecting pyonmttok==1.*
  Downloading pyonmttok-1.34.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.9 MB)
     |████████████████████████████████| 16.9 MB 13.6 MB/s
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from OpenNMT-py==1.2.0) (6.0)
Requirement already satisfied: tensorboard>=1.14 in /usr/local/lib/python3.7/dist-packages (from OpenNMT-py==1.2.0) (2.8.0)
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (from OpenNMT-py==1.2.0) (1.1.4)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from OpenNMT-py==1.2.0) (1.12.1+cu113)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from torchtext==0.4.0->OpenNMT-py==1.2.0) (1.21.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchtext==0.4.0->OpenNMT-py==1.2.0) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (1.8.1)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (3.17.3)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (1.48.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (1.35.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (3.4.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (0.37.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (0.6.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (57.4.0)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=1.14->OpenNMT-py==1.2.0) (1.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=1.14->OpenNMT-py==1.2.0) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=1.14->OpenNMT-py==1.2.0) (4.9)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=1.14->OpenNMT-py==1.2.0) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=1.14->OpenNMT-py==1.2.0) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard>=1.14->OpenNMT-py==1.2.0) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard>=1.14->OpenNMT-py==1.2.0) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard>=1.14->OpenNMT-py==1.2.0) (4.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard>=1.14->OpenNMT-py==1.2.0) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchtext==0.4.0->OpenNMT-py==1.2.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchtext==0.4.0->OpenNMT-py==1.2.0) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchtext==0.4.0->OpenNMT-py==1.2.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchtext==0.4.0->OpenNMT-py==1.2.0) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=1.14->OpenNMT-py==1.2.0) (3.2.0)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask->OpenNMT-py==1.2.0) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask->OpenNMT-py==1.2.0) (7.1.2)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask->OpenNMT-py==1.2.0) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask->OpenNMT-py==1.2.0) (2.0.1)
Installing collected packages: waitress, torchtext, pyonmttok, configargparse, OpenNMT-py
  Attempting uninstall: torchtext
    Found existing installation: torchtext 0.13.1
    Uninstalling torchtext-0.13.1:
      Successfully uninstalled torchtext-0.13.1
Successfully installed OpenNMT-py-1.2.0 configargparse-1.5.3 pyonmttok-1.34.0 torchtext-0.4.0 waitress-2.1.2

In [ ]:
!pip install -r /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/requirements/requirements1.2.0.opt.txt

In [ ]:
!pip install OpenNMT-py

In [ ]:
!onmt_preprocess \
-train_src /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/src_train.txt \
-train_tgt /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/tgt_train.txt \
-valid_src /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/src_dev.txt \
-valid_tgt /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/tgt_dev.txt \
-save_data /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo

In [ ]:
!python /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/tools/embeddings_to_torch.py \
-emb_file_both /content/drive/MyDrive/glove/glove.6B.100d.txt \
-dict_file /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.vocab.pt \
-output_file /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/embeddings

In [ ]:
!onmt_train -save_model /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/model1 \
           -batch_size 64 \
           -layers 2 \
           -rnn_size 500 \
           -word_vec_size 500 \
           -pre_word_vecs_enc /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/embeddings.enc.pt \
           -pre_word_vecs_dec /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/embeddings.dec.pt \
           -data /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo \
           -world_size 1 -gpu_ranks 0 \
           -save_checkpoint_steps 10000 \
           -report_every 5000

[2022-06-28 04:39:34,113 INFO]  * src vocab size = 5897
[2022-06-28 04:39:34,113 INFO]  * tgt vocab size = 5562
[2022-06-28 04:39:34,113 INFO] Building model...
[2022-06-28 04:39:38,165 INFO] NMTModel(
  (encoder): RNNEncoder(
    (embeddings): Embeddings(
      (make_embedding): Sequential(
        (emb_luts): Elementwise(
          (0): Embedding(5897, 500, padding_idx=1)
        )
      )
    )
    (rnn): LSTM(500, 500, num_layers=2, dropout=0.3)
  )
  (decoder): InputFeedRNNDecoder(
    (embeddings): Embeddings(
      (make_embedding): Sequential(
        (emb_luts): Elementwise(
          (0): Embedding(5562, 500, padding_idx=1)
        )
      )
    )
    (dropout): Dropout(p=0.3, inplace=False)
    (rnn): StackedLSTM(
      (dropout): Dropout(p=0.3, inplace=False)
      (layers): ModuleList(
        (0): LSTMCell(1000, 500)
        (1): LSTMCell(500, 500)
      )
    )
    (attn): GlobalAttention(
      (linear_in): Linear(in_features=500, out_features=500, bias=False)
      (linear_out): Linear(in_features=1000, out_features=500, bias=False)
    )
  )
  (generator): Sequential(
    (0): Linear(in_features=500, out_features=5562, bias=True)
    (1): Cast()
    (2): LogSoftmax(dim=-1)
  )
)
[2022-06-28 04:39:38,165 INFO] encoder: 6956500
[2022-06-28 04:39:38,165 INFO] decoder: 11325562
[2022-06-28 04:39:38,165 INFO] * number of parameters: 18282062
[2022-06-28 04:39:38,169 INFO] Starting training on GPU: [0]
[2022-06-28 04:39:38,169 INFO] Start training loop and validate every 10000 steps...
[2022-06-28 04:39:38,169 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:39:38,346 INFO] number of examples: 6935
[2022-06-28 04:39:44,234 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:39:44,427 INFO] number of examples: 6935
[2022-06-28 04:39:50,285 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:39:50,400 INFO] number of examples: 6935
[2022-06-28 04:39:56,280 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:39:56,463 INFO] number of examples: 6935
[2022-06-28 04:40:02,969 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:03,163 INFO] number of examples: 6935
[2022-06-28 04:40:09,021 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:09,214 INFO] number of examples: 6935
[2022-06-28 04:40:15,016 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:15,138 INFO] number of examples: 6935
[2022-06-28 04:40:21,034 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:21,150 INFO] number of examples: 6935
[2022-06-28 04:40:27,006 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:27,201 INFO] number of examples: 6935
[2022-06-28 04:40:33,051 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:33,248 INFO] number of examples: 6935
[2022-06-28 04:40:39,160 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:39,363 INFO] number of examples: 6935
[2022-06-28 04:40:45,187 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:45,303 INFO] number of examples: 6935
[2022-06-28 04:40:51,105 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:51,302 INFO] number of examples: 6935
[2022-06-28 04:40:57,135 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:40:57,340 INFO] number of examples: 6935
[2022-06-28 04:41:03,193 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:03,391 INFO] number of examples: 6935
[2022-06-28 04:41:09,310 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:09,443 INFO] number of examples: 6935
[2022-06-28 04:41:15,327 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:15,515 INFO] number of examples: 6935
[2022-06-28 04:41:21,415 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:21,611 INFO] number of examples: 6935
[2022-06-28 04:41:27,524 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:27,723 INFO] number of examples: 6935
[2022-06-28 04:41:33,582 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:33,701 INFO] number of examples: 6935
[2022-06-28 04:41:39,542 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:39,732 INFO] number of examples: 6935
[2022-06-28 04:41:45,654 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:45,848 INFO] number of examples: 6935
[2022-06-28 04:41:51,776 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:51,977 INFO] number of examples: 6935
[2022-06-28 04:41:57,919 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:41:58,038 INFO] number of examples: 6935
[2022-06-28 04:42:04,017 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:04,135 INFO] number of examples: 6935
[2022-06-28 04:42:10,011 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:10,205 INFO] number of examples: 6935
[2022-06-28 04:42:16,162 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:16,355 INFO] number of examples: 6935
[2022-06-28 04:42:22,238 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:22,438 INFO] number of examples: 6935
[2022-06-28 04:42:28,395 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:28,516 INFO] number of examples: 6935
[2022-06-28 04:42:34,520 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:34,636 INFO] number of examples: 6935
[2022-06-28 04:42:40,575 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:40,768 INFO] number of examples: 6935
[2022-06-28 04:42:46,772 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:46,968 INFO] number of examples: 6935
[2022-06-28 04:42:52,861 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:52,978 INFO] number of examples: 6935
[2022-06-28 04:42:59,042 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:42:59,158 INFO] number of examples: 6935
[2022-06-28 04:43:05,077 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:43:05,271 INFO] number of examples: 6935
[2022-06-28 04:43:11,220 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:43:11,420 INFO] number of examples: 6935
[2022-06-28 04:43:17,417 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:43:17,622 INFO] number of examples: 6935
[2022-06-28 04:43:23,621 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:43:23,742 INFO] number of examples: 6935
[2022-06-28 04:43:29,770 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:43:29,966 INFO] number of examples: 6935
[2022-06-28 04:43:35,952 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:43:36,149 INFO] number of examples: 6935
[2022-06-28 04:43:42,067 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:43:42,265 INFO] number of examples: 6935
[2022-06-28 04:43:48,271 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:43:48,391 INFO] number of examples: 6935
[2022-06-28 04:43:54,356 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:43:54,548 INFO] number of examples: 6935
[2022-06-28 04:44:01,142 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:01,339 INFO] number of examples: 6935
[2022-06-28 04:44:07,301 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:07,501 INFO] number of examples: 6935
[2022-06-28 04:44:13,462 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:13,577 INFO] number of examples: 6935
[2022-06-28 04:44:18,895 INFO] Step 5000/100000; acc:  78.82; ppl:  3.08; xent: 1.13; lr: 1.00000; 14369/18708 tok/s;    281 sec
[2022-06-28 04:44:19,580 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:19,773 INFO] number of examples: 6935
[2022-06-28 04:44:25,715 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:25,925 INFO] number of examples: 6935
[2022-06-28 04:44:31,889 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:32,100 INFO] number of examples: 6935
[2022-06-28 04:44:38,094 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:38,210 INFO] number of examples: 6935
[2022-06-28 04:44:44,248 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:44,443 INFO] number of examples: 6935
[2022-06-28 04:44:50,423 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:50,614 INFO] number of examples: 6935
[2022-06-28 04:44:56,595 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:44:56,799 INFO] number of examples: 6935
[2022-06-28 04:45:02,734 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:02,852 INFO] number of examples: 6935
[2022-06-28 04:45:08,903 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:09,021 INFO] number of examples: 6935
[2022-06-28 04:45:14,978 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:15,166 INFO] number of examples: 6935
[2022-06-28 04:45:21,158 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:21,354 INFO] number of examples: 6935
[2022-06-28 04:45:27,361 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:27,569 INFO] number of examples: 6935
[2022-06-28 04:45:33,710 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:33,838 INFO] number of examples: 6935
[2022-06-28 04:45:39,981 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:40,171 INFO] number of examples: 6935
[2022-06-28 04:45:46,226 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:46,429 INFO] number of examples: 6935
[2022-06-28 04:45:52,503 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:52,704 INFO] number of examples: 6935
[2022-06-28 04:45:58,825 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:45:58,947 INFO] number of examples: 6935
[2022-06-28 04:46:05,284 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:46:05,501 INFO] number of examples: 6935
[2022-06-28 04:46:11,761 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:46:11,965 INFO] number of examples: 6935
[2022-06-28 04:46:17,983 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:46:18,186 INFO] number of examples: 6935
[2022-06-28 04:46:24,159 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:46:24,278 INFO] number of examples: 6935
[2022-06-28 04:46:30,261 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:46:30,458 INFO] number of examples: 6935
[2022-06-28 04:46:36,467 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:46:36,660 INFO] number of examples: 6935
[2022-06-28 04:46:42,662 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:46:42,862 INFO] number of examples: 6935
[2022-06-28 04:46:48,886 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:46:49,006 INFO] number of examples: 6935
[2022-06-28 04:46:55,056 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:46:55,176 INFO] number of examples: 6935
[2022-06-28 04:47:01,180 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:01,366 INFO] number of examples: 6935
[2022-06-28 04:47:07,358 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:07,560 INFO] number of examples: 6935
[2022-06-28 04:47:13,522 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:13,726 INFO] number of examples: 6935
[2022-06-28 04:47:19,753 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:19,872 INFO] number of examples: 6935
[2022-06-28 04:47:25,975 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:26,101 INFO] number of examples: 6935
[2022-06-28 04:47:32,115 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:32,316 INFO] number of examples: 6935
[2022-06-28 04:47:38,313 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:38,514 INFO] number of examples: 6935
[2022-06-28 04:47:44,490 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:44,606 INFO] number of examples: 6935
[2022-06-28 04:47:50,767 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:50,885 INFO] number of examples: 6935
[2022-06-28 04:47:56,914 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:47:57,109 INFO] number of examples: 6935
[2022-06-28 04:48:03,113 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:48:03,314 INFO] number of examples: 6935
[2022-06-28 04:48:09,378 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:48:09,582 INFO] number of examples: 6935
[2022-06-28 04:48:16,118 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:48:16,238 INFO] number of examples: 6935
[2022-06-28 04:48:22,246 INFO] Loading dataset from /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/demo.train.0.pt
[2022-06-28 04:48:22,443 INFO] number of examples: 6935

In [ ]:
!onmt_translate -model /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/model1_step_70000.pt \
-src /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/src_test.txt \
 -tgt /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/tgt_test.txt \
  -output /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/pred_test_70000.txt

[2022-06-28 10:11:16,763 INFO] Translating shard 0.
/usr/local/lib/python3.7/dist-packages/onmt/translate/beam_search.py:282: UserWarning: __floordiv__ is deprecated, and its behavior will change in a future version of pytorch. It currently rounds toward 0 (like the 'trunc' function NOT 'floor'). This results in incorrect rounding for negative values. To keep the current behavior, use torch.div(a, b, rounding_mode='trunc'), or for actual floor division, use torch.div(a, b, rounding_mode='floor').
  self._batch_index = self.topk_ids // vocab_size
[2022-06-28 10:12:50,778 INFO] PRED AVG SCORE: -0.1347, PRED PPL: 1.1441
[2022-06-28 10:12:50,778 INFO] GOLD AVG SCORE: -19.7539, GOLD PPL: 379340673.4695

In [ ]:
!onmt_translate -model /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/model1_step_70000.pt \
-src /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/src_dev.txt \
 -tgt /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/tgt_dev.txt \
  -output /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/pred_dev_70000.txt

[2022-07-08 12:27:57,673 INFO] Translating shard 0.
/usr/local/lib/python3.7/dist-packages/onmt/translate/beam_search.py:282: UserWarning: __floordiv__ is deprecated, and its behavior will change in a future version of pytorch. It currently rounds toward 0 (like the 'trunc' function NOT 'floor'). This results in incorrect rounding for negative values. To keep the current behavior, use torch.div(a, b, rounding_mode='trunc'), or for actual floor division, use torch.div(a, b, rounding_mode='floor').
  self._batch_index = self.topk_ids // vocab_size
[2022-07-08 12:28:52,380 INFO] PRED AVG SCORE: -0.1234, PRED PPL: 1.1313
[2022-07-08 12:28:52,380 INFO] GOLD AVG SCORE: -11.3513, GOLD PPL: 85074.4792

In [ ]:
!onmt_translate -model /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/model1_step_70000.pt \
-src /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/src_train.txt \
 -tgt /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/tgt_train.txt \
  -output /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/pred_train_70000.txt

[2022-07-08 06:56:46,354 INFO] Translating shard 0.
/usr/local/lib/python3.7/dist-packages/onmt/translate/beam_search.py:282: UserWarning: __floordiv__ is deprecated, and its behavior will change in a future version of pytorch. It currently rounds toward 0 (like the 'trunc' function NOT 'floor'). This results in incorrect rounding for negative values. To keep the current behavior, use torch.div(a, b, rounding_mode='trunc'), or for actual floor division, use torch.div(a, b, rounding_mode='floor').
  self._batch_index = self.topk_ids // vocab_size
[2022-07-08 07:03:28,565 INFO] PRED AVG SCORE: -0.0012, PRED PPL: 1.0012
[2022-07-08 07:03:28,565 INFO] GOLD AVG SCORE: -0.1663, GOLD PPL: 1.1809

In [ ]:
!python /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/evaluation.py \
--gold /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files1/dev_gold.txt \
--pred /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/pred_dev_70000.txt --etype all \
--db /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/db_and_json_files/database \
--table /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/db_and_json_files/tables.json

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
eval_err_num:1
easy pred: SELECT count(*) FROM artist
easy gold: SELECT count(*) FROM singer

eval_err_num:2
easy pred: SELECT count(*) FROM enzyme
easy gold: SELECT count(*) FROM singer

eval_err_num:3
medium pred: SELECT name , country , age FROM artist ORDER BY age DESC
medium gold: SELECT name ,  country ,  age FROM singer ORDER BY age DESC

eval_err_num:4
medium pred: SELECT name , name , age FROM Person ORDER BY age DESC
medium gold: SELECT name ,  country ,  age FROM singer ORDER BY age DESC

eval_err_num:5
medium pred: SELECT avg(age) , avg(age) , max(age) FROM artist WHERE country = 'United States'
medium gold: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'

eval_err_num:6
medium pred: SELECT avg(age) , avg(age) , max(age) FROM weather
medium gold: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'

eval_err_num:7
medium pred: SELECT T2.Name , T1.Description FROM ALBUM AS T1 JOIN song AS T2 ON T1.f_id = T2.f_id ORDER BY T2.resolution DESC LIMIT 1
medium gold: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

eval_err_num:8
medium pred: SELECT song_name , Name FROM song ORDER BY releasedate DESC LIMIT 1
medium gold: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

eval_err_num:9
easy pred: SELECT DISTINCT T1.artist_name FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name WHERE T1.age > 30
easy gold: SELECT DISTINCT country FROM singer WHERE age  >  20

eval_err_num:10
easy pred: SELECT DISTINCT T1.artist_name FROM artist AS T1 JOIN artist AS T2 ON T1.artist_name = T2.artist_name WHERE T1.age > 9
easy gold: SELECT DISTINCT country FROM singer WHERE age  >  20

eval_err_num:11
medium pred: SELECT country , count(*) FROM artist GROUP BY country
medium gold: SELECT country ,  count(*) FROM singer GROUP BY country

eval_err_num:12
medium pred: SELECT T2.artist_name , COUNT(*) FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name GROUP BY T2.artist_name
medium gold: SELECT country ,  count(*) FROM singer GROUP BY country

eval_err_num:13
hard pred: SELECT song_name FROM artist WHERE rating > 9
hard gold: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)

eval_err_num:14
hard pred: SELECT song_name FROM artist WHERE Age > 8
hard gold: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)

eval_err_num:15
medium pred: SELECT LOCATION , LOCATION FROM station WHERE student_capacity BETWEEN 15 AND 15
medium gold: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000

medium pred: SELECT max(capacity) , avg(capacity) FROM stadium
medium gold: select max(capacity), average from stadium

eval_err_num:16
medium pred: SELECT name , capacity FROM stadium GROUP BY name ORDER BY avg(T1.attendance) DESC LIMIT 1
medium gold: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1

eval_err_num:17
medium pred: SELECT name , capacity FROM stadium GROUP BY name ORDER BY avg(T1.attendance) DESC LIMIT 1
medium gold: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1

eval_err_num:18
medium pred: SELECT count(*) FROM postseason WHERE YEAR = 2004 OR YEAR = 2010
medium gold: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015

eval_err_num:19
medium pred: SELECT count(*) FROM weather WHERE YEAR = 2008 OR YEAR = 2010
medium gold: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015

eval_err_num:20
medium pred: SELECT T2.name , count(*) FROM stadium AS T1 JOIN stadium AS T2 ON T1.stadium_id = T2.id GROUP BY T1.id
medium gold: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id

eval_err_num:21
medium pred: SELECT formats , count(*) FROM MATCH GROUP BY formats
medium gold: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id

eval_err_num:22
extra pred: SELECT name , capacity FROM stadium WHERE YEAR >= 180 GROUP BY POSITION ORDER BY count(*) DESC LIMIT 1
extra gold: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1

eval_err_num:23
extra pred: SELECT t1.name , t1.capacity FROM stadium AS t1 JOIN event AS t2 ON t1.id = t2.stadium_id WHERE t2.name > 2014 GROUP BY t2.stadium_id ORDER BY count(*) DESC LIMIT 1
extra gold: select t2.name ,  t2.capacity from concert as t1 join stadium as t2 on t1.stadium_id  =  t2.stadium_id where t1.year  >  2013 group by t2.stadium_id order by count(*) desc limit 1

eval_err_num:24
hard pred: SELECT date_of_latest_revision FROM Catalogs GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
hard gold: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

eval_err_num:25
hard pred: SELECT YEAR FROM SECTION GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
hard gold: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

eval_err_num:26
hard pred: SELECT name FROM stadium WHERE id NOT IN (SELECT stadium_id FROM train_station)
hard gold: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

eval_err_num:27
hard pred: SELECT name FROM stadium WHERE id NOT IN (SELECT stadium_id FROM event)
hard gold: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

eval_err_num:28
hard pred: SELECT country FROM weather WHERE age > 30 AND country = 'engineer'
hard gold: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30

eval_err_num:29
hard pred: SELECT name FROM stadium WHERE YEAR != 2006
hard gold: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014

eval_err_num:30
hard pred: SELECT name FROM stadium WHERE id NOT IN (SELECT stadium_id FROM event)
hard gold: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014

eval_err_num:31
medium pred: SELECT decor , COUNT(*) FROM ARTIST GROUP BY gender_code
medium gold: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id

eval_err_num:32
medium pred: SELECT color_description , COUNT(*) FROM artist GROUP BY origin
medium gold: select t2.concert_name ,  t2.theme ,  count(*) from singer_in_concert as t1 join concert as t2 on t1.concert_id  =  t2.concert_id group by t2.concert_id

eval_err_num:33
medium pred: SELECT name , name FROM products GROUP BY name
medium gold: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id

eval_err_num:34
medium pred: SELECT T1.artist_name , count(*) FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name GROUP BY T2.artist_name
medium gold: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id

eval_err_num:35
hard pred: SELECT name FROM albums; WHERE YEAR = 2012
hard gold: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014

eval_err_num:36
hard pred: SELECT T1.artist_name FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name WHERE T1.gender = "english"
hard gold: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014

eval_err_num:37
medium pred: SELECT song_name , customer_name FROM song WHERE languages = "english"
medium gold: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'

eval_err_num:38
medium pred: SELECT T1.artist_name , T1.country FROM files AS T1 JOIN song AS T2 ON T1.f_id = T2.f_id WHERE T2.genre_is LIKE "%love%"
medium gold: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'

eval_err_num:39
extra pred: SELECT venue , LOCATION FROM stadium WHERE YEAR = 2008 INTERSECT SELECT pName , LOCATION FROM stadium WHERE YEAR = 2011
extra gold: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015

eval_err_num:40
extra pred: SELECT T2.name , T2.location FROM stadium AS T1 JOIN stadium AS T2 ON T1.stadium_id = T2.id JOIN stadium AS T3 ON T1.id = T3.game_id WHERE T3.injury = 'Foot injury' INTERSECT SELECT T1.name , T2.location FROM stadium AS T1 JOIN game AS T2 ON T1.id = T2.stadium_id WHERE T2.year = 2003
extra gold: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015

eval_err_num:41
hard pred: SELECT date FROM stadium ORDER BY capacity DESC LIMIT 1
hard gold: select count(*) from concert where stadium_id = (select stadium_id from stadium order by capacity desc limit 1)

hard pred: SELECT count(*) FROM stadium ORDER BY capacity DESC LIMIT 1
hard gold: select count(*) from concert where stadium_id = (select stadium_id from stadium order by capacity desc limit 1)

eval_err_num:42
easy pred: SELECT count(*) FROM products WHERE Status = 'No'
easy gold: SELECT count(*) FROM pets WHERE weight  >  10

eval_err_num:43
easy pred: SELECT count(*) FROM people WHERE weight > 85
easy gold: SELECT count(*) FROM pets WHERE weight  >  10

eval_err_num:44
medium pred: SELECT Weight FROM people ORDER BY Height ASC LIMIT 1
medium gold: SELECT weight FROM pets ORDER BY pet_age LIMIT 1

eval_err_num:45
medium pred: SELECT phone FROM student ORDER BY age LIMIT 1
medium gold: SELECT weight FROM pets ORDER BY pet_age LIMIT 1

eval_err_num:46
medium pred: SELECT avg(weight) , Weight FROM people
medium gold: SELECT max(weight) ,  petType FROM pets GROUP BY petType

eval_err_num:47
medium pred: SELECT Weight , min(weight) FROM people GROUP BY product_type_code
medium gold: SELECT max(weight) ,  petType FROM pets GROUP BY petType

medium pred: SELECT count(*) FROM student WHERE age > 40
medium gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.age  >  20

medium pred: SELECT count(*) FROM student WHERE age > 20
medium gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.age  >  20

eval_err_num:48
hard pred: SELECT forename FROM Student WHERE Sex = 'F'
hard gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T2.petid  =  T3.petid WHERE T1.sex  =  'F' AND T3.pettype  =  'dog'

eval_err_num:49
hard pred: SELECT name FROM people WHERE Sex = 'F'
hard gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T2.petid  =  T3.petid WHERE T1.sex  =  'F' AND T3.pettype  =  'dog'

eval_err_num:50
easy pred: SELECT count(DISTINCT product_type_code) FROM forms
easy gold: SELECT count(DISTINCT pettype) FROM pets

eval_err_num:51
easy pred: SELECT count(DISTINCT bedType) FROM products_for_hire
easy gold: SELECT count(DISTINCT pettype) FROM pets

eval_err_num:52
extra pred: SELECT Fname FROM STUDENT WHERE Major = 600 OR family_name = "Cat"
extra gold: SELECT DISTINCT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' OR T3.pettype  =  'dog'

eval_err_num:53
extra pred: SELECT Fname FROM STUDENT WHERE StuID LIKE '%a%' OR bedType = "CHI"
extra gold: SELECT DISTINCT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' OR T3.pettype  =  'dog'

eval_err_num:54
extra pred: SELECT Fname FROM STUDENT WHERE Major = "Emma" INTERSECT SELECT StuID FROM student WHERE stu_fname = 'C'
extra gold: select t1.fname from student as t1 join has_pet as t2 on t1.stuid  =  t2.stuid join pets as t3 on t3.petid  =  t2.petid where t3.pettype  =  'cat' intersect select t1.fname from student as t1 join has_pet as t2 on t1.stuid  =  t2.stuid join pets as t3 on t3.petid  =  t2.petid where t3.pettype  =  'dog'

eval_err_num:55
extra pred: SELECT lname FROM Student WHERE Eliminated_By = "M" INTERSECT SELECT StuID FROM Student WHERE Area = 'Kayaking'
extra gold: SELECT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' INTERSECT SELECT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog'

eval_err_num:56
extra pred: SELECT Major , Age FROM Student WHERE StuID NOT IN (SELECT StuID FROM Has_allergy WHERE Allergy = "Soy")
extra gold: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

extra pred: SELECT Major , count(*) FROM Student WHERE Major != 600 AND Major != 600
extra gold: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

eval_err_num:57
hard pred: SELECT StuID FROM students WHERE student_id NOT IN (SELECT student_id FROM student_course_attendance)
hard gold: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'

eval_err_num:58
hard pred: SELECT StuID FROM Student EXCEPT SELECT StuID FROM Student WHERE semester = 'Spring' AND YEAR = 2010
hard gold: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'

eval_err_num:59
extra pred: SELECT fname , age FROM Student WHERE StuID IN (SELECT StuID FROM Has_allergy WHERE Allergy = "Milk" EXCEPT SELECT StuID FROM Has_allergy WHERE Allergy = "Soy")
extra gold: SELECT T1.fname ,  T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog' AND T1.stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

eval_err_num:60
extra pred: SELECT T1.stu_fname FROM student AS T1 JOIN enroll AS T2 ON T1.stu_num = T2.stu_num WHERE T2.enroll_grade = 'C' AND T2.class_code != 10018
extra gold: SELECT T1.fname ,  T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog' AND T1.stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

eval_err_num:61
medium pred: SELECT TYPE , sex FROM people ORDER BY Height LIMIT 1
medium gold: SELECT pettype ,  weight FROM pets ORDER BY pet_age LIMIT 1

eval_err_num:62
medium pred: SELECT ResTypeName , Duration FROM phone ORDER BY product_price LIMIT 1
medium gold: SELECT pettype ,  weight FROM pets ORDER BY pet_age LIMIT 1

eval_err_num:63
medium pred: SELECT forename , Weight FROM swimmer WHERE Age > 18
medium gold: SELECT petid ,  weight FROM pets WHERE pet_age  >  1

eval_err_num:64
medium pred: SELECT age , chromosome FROM people WHERE age > 85
medium gold: SELECT petid ,  weight FROM pets WHERE pet_age  >  1

eval_err_num:65
medium pred: SELECT avg(age) , max(age) FROM products GROUP BY sex
medium gold: SELECT avg(pet_age) ,  max(pet_age) ,  pettype FROM pets GROUP BY pettype

eval_err_num:66
medium pred: SELECT avg(weight) , max(age) FROM people GROUP BY sex
medium gold: SELECT avg(pet_age) ,  max(pet_age) ,  pettype FROM pets GROUP BY pettype

eval_err_num:67
medium pred: SELECT avg(weight) , avg(basePrice) FROM Rooms GROUP BY bedType;
medium gold: SELECT avg(weight) ,  pettype FROM pets GROUP BY pettype

eval_err_num:68
medium pred: SELECT avg(weight) , min(weight) FROM products GROUP BY product_type_code
medium gold: SELECT avg(weight) ,  pettype FROM pets GROUP BY pettype

eval_err_num:69
medium pred: SELECT fname , age FROM Student WHERE StuID IN (SELECT StuID FROM Has_allergy WHERE Allergy = "Soy")
medium gold: SELECT DISTINCT T1.fname ,  T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid

eval_err_num:70
medium pred: SELECT DISTINCT T1.name , T1.age FROM student AS T1 JOIN laptimes AS T2 ON T1.stuid = T2.stuid WHERE T2.interaction_type = 'C'
medium gold: SELECT DISTINCT T1.fname ,  T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid

eval_err_num:71
medium pred: SELECT rid FROM Payments WHERE LName = "3452"
medium gold: SELECT T2.petid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.Lname  =  'Smith'

eval_err_num:72
medium pred: SELECT store_id FROM Payments WHERE LName = 94002
medium gold: SELECT T2.petid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.Lname  =  'Smith'

eval_err_num:73
medium pred: SELECT T1.student_id , count(*) FROM students AS T1 JOIN patient AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id
medium gold: SELECT count(*) ,  T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid

eval_err_num:74
medium pred: SELECT count(*) FROM list WHERE student_id NOT IN (SELECT student_id FROM Student_Course_Enrolment)
medium gold: select count(*) ,  t1.stuid from student as t1 join has_pet as t2 on t1.stuid  =  t2.stuid group by t1.stuid

medium pred: SELECT fname , sex FROM Student GROUP BY StuID HAVING count(*) > 1
medium gold: SELECT T1.fname ,  T1.sex FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid HAVING count(*)  >  1

medium pred: SELECT fname , sex FROM student GROUP BY sex HAVING count(*) > 1
medium gold: SELECT T1.fname ,  T1.sex FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid HAVING count(*)  >  1

eval_err_num:75
hard pred: SELECT T1.stu_lname FROM student AS T1 JOIN enroll AS T2 ON T1.stu_num = T2.stu_num WHERE T2.enroll_grade = 'A' AND T2.class_code = 10018
hard gold: SELECT T1.lname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pet_age  =  3 AND T3.pettype  =  'cat'

hard pred: SELECT LName FROM Student WHERE Major = 'goalie'
hard gold: SELECT T1.lname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pet_age  =  3 AND T3.pettype  =  'cat'

eval_err_num:76
extra pred: SELECT avg(age) FROM student WHERE student_id NOT IN (SELECT student_id FROM Student_Course_Enrolment)
extra gold: select avg(age) from student where stuid not in (select stuid from has_pet)

extra pred: SELECT avg(Age) FROM student WHERE city_code != 'HKG'
extra gold: select avg(age) from student where stuid not in (select stuid from has_pet)

eval_err_num:77
easy pred: SELECT count(*) FROM actor
easy gold: SELECT count(*) FROM CONTINENTS;

eval_err_num:78
easy pred: SELECT count(*) FROM enzyme
easy gold: SELECT count(*) FROM CONTINENTS;

eval_err_num:79
medium pred: SELECT avg(rating) , name , count(*) FROM country GROUP BY name

In [ ]:
!python /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/evaluation.py \
--gold /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files1/test_gold.txt \
--pred /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/pred_test_70000.txt \
--etype all --db /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/db_and_json_files/database \
--table /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/db_and_json_files/tables.json

Streaming output truncated to the last 5000 lines.

eval_err_num:418
hard pred: SELECT state_province_county FROM addresses WHERE line_1_number_building = (SELECT county_ID FROM college)
hard gold: SELECT border FROM border_info WHERE state_name  =  ( SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state ) );

eval_err_num:419
hard pred: SELECT state_province_county FROM addresses ORDER BY enr LIMIT 1
hard gold: SELECT border FROM border_info WHERE state_name  =  ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN ( area ) FROM state ) );

eval_err_num:420
hard pred: SELECT state_province_county FROM addresses WHERE state = 'History'
hard gold: SELECT border FROM border_info WHERE state_name  =  ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN ( area ) FROM state ) );

eval_err_num:421
easy pred: SELECT name FROM address WHERE major = 'Public'
easy gold: SELECT traverse FROM river WHERE LENGTH  >  750;

eval_err_num:422
easy pred: SELECT DISTINCT Range FROM mountain
easy gold: SELECT state_name FROM mountain;

eval_err_num:423
hard pred: SELECT T1.Area FROM climber AS T1 JOIN mountain AS T2 ON T1.Mountain_ID = T2.Mountain_ID ORDER BY T1.Points DESC LIMIT 1
hard gold: SELECT state_name FROM mountain WHERE mountain_altitude  =  ( SELECT MAX ( mountain_altitude ) FROM mountain );

eval_err_num:424
hard pred: SELECT state_province_county FROM invoices ORDER BY Age DESC LIMIT 1
hard gold: SELECT state_name FROM mountain WHERE mountain_altitude  =  ( SELECT MAX ( mountain_altitude ) FROM mountain );

eval_err_num:425
hard pred: SELECT gdp FROM city ORDER BY Regional_Population LIMIT 1
hard gold: SELECT state_name FROM city WHERE population  =  ( SELECT MIN ( population ) FROM city );

eval_err_num:426
hard pred: SELECT billing_state FROM invoices WHERE billing_country = "USA" ORDER BY Age DESC LIMIT 1
hard gold: SELECT density FROM state WHERE state_name IN ( SELECT traverse FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river ) );

eval_err_num:427
hard pred: SELECT name FROM weather WHERE department_id != (SELECT avg(height) FROM Movie)
hard gold: SELECT mountain_name FROM mountain WHERE mountain_altitude  =  ( SELECT MAX ( mountain_altitude ) FROM mountain WHERE state_name != "alaska" );

eval_err_num:428
hard pred: SELECT name FROM weather WHERE name NOT IN (SELECT swimmer_id FROM record)
hard gold: SELECT river_name FROM river WHERE river_name NOT IN ( SELECT river_name FROM river WHERE traverse  =  "tennessee" );

eval_err_num:429
hard pred: SELECT name FROM weather WHERE name NOT IN (SELECT swimmer_id FROM candidate)
hard gold: SELECT river_name FROM river WHERE river_name NOT IN ( SELECT river_name FROM river WHERE traverse  =  "tennessee" );

eval_err_num:430
easy pred: SELECT name FROM weather WHERE name NOT IN (SELECT swimmer_id FROM record)
easy gold: SELECT river_name FROM river WHERE country_name != "usa";

eval_err_num:431
hard pred: SELECT DISTINCT T2.department_name FROM addresses AS t1 JOIN customer_addresses AS t2 ON t1.customer_id = t2.customer_id WHERE country = "Bootup Baltimore"
hard gold: SELECT river_name FROM river WHERE traverse IN ( SELECT border FROM border_info WHERE state_name IN ( SELECT state_name FROM state WHERE capital  =  "atlanta" ) );

eval_err_num:432
hard pred: SELECT DISTINCT T2.department_name FROM addresses AS T1 JOIN departments AS T2 ON T1.department_id = T2.department_id JOIN locations AS T3 ON T2.location_id = T3.pID WHERE T3.pName = 'Charles'
hard gold: SELECT river_name FROM river WHERE traverse IN ( SELECT border FROM border_info WHERE state_name IN ( SELECT state_name FROM state WHERE capital  =  "atlanta" ) );

eval_err_num:433
hard pred: SELECT state_province_county FROM addresses ORDER BY oppose_rate LIMIT 1
hard gold: SELECT city_name FROM city WHERE population  =  ( SELECT MIN ( t1.population ) FROM state AS t2 JOIN city AS t1 ON t2.capital  =  t1.city_name );

eval_err_num:434
hard pred: SELECT state_province_county FROM addresses ORDER BY enr DESC LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE highest_elevation  =  ( SELECT MAX ( highest_elevation ) FROM highlow );

eval_err_num:435
hard pred: SELECT state_province_county FROM invoices ORDER BY Age DESC LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE highest_elevation  =  ( SELECT MAX ( highest_elevation ) FROM highlow );

eval_err_num:436
hard pred: SELECT state_province_county FROM addresses ORDER BY enr DESC LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE highest_elevation  =  ( SELECT MAX ( highest_elevation ) FROM highlow );

eval_err_num:437
hard pred: SELECT T1.Area FROM customers AS T1 JOIN customer_addresses AS T2 ON T1.address_id = T2.address_id WHERE T1.state_province_county = "Christop" ORDER BY votes DESC LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE highest_elevation  =  ( SELECT MAX ( highest_elevation ) FROM highlow );

eval_err_num:438
hard pred: SELECT state_province_county FROM addresses ORDER BY enr DESC LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE highest_elevation  =  ( SELECT MAX ( highest_elevation ) FROM highlow );

eval_err_num:439
hard pred: SELECT state_province_county FROM addresses ORDER BY oppose_rate DESC LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE highest_elevation  =  ( SELECT MAX ( highest_elevation ) FROM highlow );

eval_err_num:440
hard pred: SELECT state_province_county FROM addresses ORDER BY enr DESC LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE highest_elevation  =  ( SELECT MAX ( highest_elevation ) FROM highlow );

eval_err_num:441
hard pred: SELECT state_province_county FROM addresses WHERE enr = (SELECT max(enr) FROM college)
hard gold: SELECT state_name FROM highlow WHERE highest_elevation  =  ( SELECT MAX ( highest_elevation ) FROM highlow );

eval_err_num:442
hard pred: SELECT state_province_county FROM addresses ORDER BY oppose_rate LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE lowest_elevation  =  ( SELECT MIN ( lowest_elevation ) FROM highlow );

eval_err_num:443
hard pred: SELECT state_province_county FROM addresses ORDER BY enr LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE lowest_elevation  =  ( SELECT MIN ( lowest_elevation ) FROM highlow );

eval_err_num:444
hard pred: SELECT state_province_county FROM addresses ORDER BY enr LIMIT 1
hard gold: SELECT state_name FROM highlow WHERE lowest_elevation  =  ( SELECT MIN ( lowest_elevation ) FROM highlow );

eval_err_num:445
extra pred: SELECT T1.state FROM customer_addresses AS T1 JOIN department AS T2 ON T1.address_id = T2.address_id WHERE T1.state = "Christop"
extra gold: SELECT state_name FROM highlow WHERE lowest_elevation  =  ( SELECT MIN ( lowest_elevation ) FROM highlow WHERE state_name IN ( SELECT border FROM border_info WHERE state_name  =  "idaho" ) ) AND state_name IN ( SELECT border FROM border_info WHERE state_name  =  "idaho" );

eval_err_num:446
hard pred: SELECT state_province_county FROM addresses GROUP BY state ORDER BY avg(T1.stu_gpa) LIMIT 1
hard gold: SELECT state_name FROM city GROUP BY state_name ORDER BY AVG ( population ) LIMIT 1;

eval_err_num:447
easy pred: SELECT T1.state FROM customer_addresses AS T1 JOIN party AS T2 ON T1.address_id = T2.address_id WHERE T1.state_province_county = 'Charles'
easy gold: SELECT state_name FROM mountain WHERE mountain_name  =  "whitney";

eval_err_num:448
easy pred: SELECT T1.state FROM addresses AS T1 JOIN customer_addresses AS T2 ON T1.address_id = T2.address_id WHERE T1.state_province_county = 'Charles'
easy gold: SELECT state_name FROM mountain WHERE mountain_name  =  "whitney";

eval_err_num:449
easy pred: SELECT count(*) FROM Person AS T1 JOIN PersonFriend AS T2 ON T1.customer_id = T2.customer_id WHERE T1.name = "Ray"
easy gold: SELECT state_name FROM mountain WHERE mountain_name  =  "whitney";

eval_err_num:450
easy pred: SELECT name FROM weather WHERE first_name = "Roberto"
easy gold: SELECT state_name FROM mountain WHERE mountain_name  =  "whitney";

eval_err_num:451
easy pred: SELECT DISTINCT T1.state FROM college AS T1 JOIN departments AS T2 ON T1.department_id = T2.department_id
easy gold: SELECT traverse FROM river;

eval_err_num:452
easy pred: SELECT name FROM university WHERE state_province_county = 'Tournament'
easy gold: SELECT traverse FROM river;

eval_err_num:453
medium pred: SELECT DISTINCT T1.state FROM college AS T1 JOIN hosting_city AS T2 ON T1.apid = T2.host_city WHERE T1.city = 'China'
medium gold: SELECT state_name FROM city WHERE city_name  =  "austin" AND population  >  150000;

eval_err_num:454
extra pred: SELECT count(*) FROM customer_addresses AS t1 JOIN addresses AS t2 ON t1.station_id = t2.customer_id WHERE t2.created_date = "Kim"
extra gold: SELECT city_name FROM city WHERE population  =  ( SELECT MAX ( population ) FROM city WHERE state_name IN ( SELECT border FROM border_info WHERE state_name  =  "california" ) ) AND state_name IN ( SELECT border FROM border_info WHERE state_name  =  "california" );

eval_err_num:455
extra pred: SELECT T1.state FROM city AS T1 JOIN customer_addresses AS T2 ON T1.city_id = T2.host_city WHERE T1.state_province_county = 'China'
extra gold: SELECT city_name FROM city WHERE population  =  ( SELECT MAX ( population ) FROM city WHERE state_name IN ( SELECT border FROM border_info WHERE state_name  =  "california" ) ) AND state_name IN ( SELECT border FROM border_info WHERE state_name  =  "california" );

eval_err_num:456
extra pred: SELECT count(*) FROM weather AS T1 JOIN songs AS T2 ON T1.city_id = T2.city_id WHERE T1.country != '%Dr.%'
extra gold: SELECT COUNT ( river_name ) FROM river WHERE traverse NOT IN ( SELECT state_name FROM state WHERE capital  =  "albany" );

eval_err_num:457
extra pred: SELECT id FROM weather WHERE first_name = "Nancy" AND last_name = "Edwards";
extra gold: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MIN ( LENGTH ) FROM river WHERE traverse  =  "texas" ) AND traverse  =  "texas";

eval_err_num:458
extra pred: SELECT T1.city FROM city AS T1 JOIN hosting_city AS T2 ON T1.city_id = T2.host_city GROUP BY t2.Host_City ORDER BY count(*) LIMIT 1
extra gold: SELECT city_name FROM city WHERE population  >  150000 AND state_name  =  ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN ( area ) FROM state ) );

eval_err_num:459
hard pred: SELECT T1.Status FROM city AS T1 JOIN routes AS T2 ON T1.city_id = T2.host_city WHERE T1.state_province_county = 'China'
hard gold: SELECT population FROM city WHERE city_name  =  ( SELECT capital FROM state WHERE area  =  ( SELECT MAX ( t1.area ) FROM state AS t1 JOIN river AS t2 ON t1.state_name  =  t2.traverse WHERE t2.river_name  =  "mississippi" ) );

eval_err_num:460
hard pred: SELECT id FROM weather WHERE first_name = "Nancy" AND last_name = "Edwards";
hard gold: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MIN ( LENGTH ) FROM river );

eval_err_num:461
hard pred: SELECT id FROM weather ORDER BY rating_in_percent LIMIT 1
hard gold: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MIN ( LENGTH ) FROM river );

eval_err_num:462
hard pred: SELECT avg(HS) FROM weather ORDER BY Price ASC LIMIT 1
hard gold: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MIN ( LENGTH ) FROM river );

eval_err_num:463
hard pred: SELECT forename FROM weather WHERE country = "German"
hard gold: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MIN ( LENGTH ) FROM river );

eval_err_num:464
hard pred: SELECT T1.forename FROM Customers AS T1 JOIN weather AS T2 ON T1.f_id = T2.f_id ORDER BY T2.Feb ASC LIMIT 1
hard gold: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MIN ( LENGTH ) FROM river );

eval_err_num:465
hard pred: SELECT T1.state FROM addresses AS T1 JOIN customer_addresses AS T2 ON T1.address_id = T2.address_id WHERE T1.state_province_county = 'China'
hard gold: SELECT capital FROM state WHERE state_name IN ( SELECT border FROM border_info WHERE state_name IN ( SELECT border FROM border_info WHERE state_name  =  "texas" ) );

eval_err_num:466
extra pred: SELECT gdp FROM addresses WHERE state = 'History'
extra gold: SELECT city_name FROM city WHERE population  =  ( SELECT MIN ( population ) FROM city WHERE state_name IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN ( area ) FROM state ) ) ) AND state_name IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN ( area ) FROM state ) );

eval_err_num:467
extra pred: SELECT bname FROM addresses WHERE state = 'Iceland' ORDER BY city_area DESC LIMIT 1
extra gold: SELECT population FROM state WHERE area  =  ( SELECT MAX ( area ) FROM state WHERE state_name IN ( SELECT border FROM border_info WHERE state_name  =  "texas" ) ) AND state_name IN ( SELECT border FROM border_info WHERE state_name  =  "texas" );

eval_err_num:468
easy pred: SELECT state_province_county FROM addresses WHERE country = "German"
easy gold: SELECT state_name FROM state WHERE capital  =  "salem";

eval_err_num:469
easy pred: SELECT T1.state FROM addresses AS T1 JOIN country AS T2 ON T1.country_id = T2.country_id WHERE T2.country = "bangla"
easy gold: SELECT state_name FROM state WHERE capital  =  "salem";

eval_err_num:470
easy pred: SELECT country FROM addresses WHERE state = 'Public'
easy gold: SELECT state_name FROM state WHERE capital  =  "salem";

eval_err_num:471
easy pred: SELECT T1.state FROM addresses AS T1 JOIN customer_addresses AS T2 ON T1.alid = T2.address_id WHERE country = 'Canada'
easy gold: SELECT state_name FROM state WHERE capital  =  "salem";

eval_err_num:472
hard pred: SELECT state_province_county FROM addresses ORDER BY White DESC LIMIT 1
hard gold: SELECT river_name FROM river WHERE traverse IN ( SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state ) );

eval_err_num:473
extra pred: SELECT state_province_county FROM addresses ORDER BY oppose_rate DESC LIMIT 1
extra gold: SELECT state_name FROM state WHERE area  =  ( SELECT MAX ( area ) FROM state WHERE state_name IN ( SELECT state_name FROM border_info WHERE border IN ( SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state ) ) ) ) AND state_name IN ( SELECT state_name FROM border_info WHERE border IN ( SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state ) ) );

eval_err_num:474
easy pred: SELECT count(*) FROM products
easy gold: SELECT COUNT ( river_name ) FROM river;

eval_err_num:475
easy pred: SELECT name FROM races WHERE YEAR = 1989
easy gold: SELECT DISTINCT capital FROM state;

eval_err_num:476
easy pred: SELECT count(*) FROM addresses AS t1 JOIN customer_addresses AS t2 ON t1.customer_id = t2.customer_id WHERE country = 'United States'
easy gold: SELECT COUNT ( state_name ) FROM city WHERE city_name  =  "springfield";

eval_err_num:477
easy pred: SELECT count(*) FROM addresses AS t1 JOIN customer_addresses AS t2 ON t1.customer_id = t2.customer_id WHERE t2.created_date = "Tracy"
easy gold: SELECT COUNT ( state_name ) FROM city WHERE city_name  =  "springfield";

eval_err_num:478
easy pred: SELECT count(*) FROM addresses AS T1 JOIN country AS T2 ON T1.country_id = T2.country_id WHERE T2.country = 'Australia'
easy gold: SELECT COUNT ( state_name ) FROM city WHERE city_name  =  "springfield";

eval_err_num:479
easy pred: SELECT count(*) FROM addresses WHERE country = 'United States' OR city = 'Beijing'
easy gold: SELECT COUNT ( state_name ) FROM city WHERE city_name  =  "springfield";

eval_err_num:480
hard pred: SELECT state_province_county FROM addresses WHERE state = 'ACCT-211'
hard gold: SELECT border FROM border_info WHERE state_name IN ( SELECT state_name FROM state WHERE population  =  ( SELECT MIN ( population ) FROM state ) );

eval_err_num:481
hard pred: SELECT match_id FROM weather WHERE country = 'Cytosol'
hard gold: SELECT lake_name FROM lake WHERE state_name IN ( SELECT border FROM border_info WHERE state_name  =  "texas" );

eval_err_num:482
medium pred: SELECT count(*) FROM city AS T1 JOIN party AS T2 ON T1.country_id = T2.country_id WHERE T2.country = 'Australia'
medium gold: SELECT COUNT ( city_name ) FROM city WHERE population  >  150000 AND state_name  =  "texas";

eval_err_num:483
medium pred: SELECT count(*) FROM city AS T1 JOIN country AS T2 ON T1.country_id = T2.country_id WHERE T2.country = 'Australia'
medium gold: SELECT COUNT ( city_name ) FROM city WHERE population  >  150000 AND state_name  =  "texas";

eval_err_num:484
medium pred: SELECT count(*) FROM city AS T1 JOIN party_events AS T2 ON T1.city_id = T2.host_city WHERE T2.year = 2010
medium gold: SELECT COUNT ( city_name ) FROM city WHERE population  >  150000 AND state_name  =  "texas";

eval_err_num:485
easy pred: SELECT sum(Points) FROM tryout
easy gold: SELECT highest_elevation FROM highlow;

eval_err_num:486
easy pred: SELECT count(*) FROM Person WHERE Division = 'female'
easy gold: SELECT COUNT ( traverse ) FROM river WHERE river_name  =  "missouri";

eval_err_num:487
easy pred: SELECT title FROM university WHERE first_name = 'Andy'
easy gold: SELECT COUNT ( traverse ) FROM river WHERE river_name  =  "missouri";

eval_err_num:488
easy pred: SELECT count(*) FROM department WHERE name = 'BUS'
easy gold: SELECT COUNT ( traverse ) FROM river WHERE river_name  =  "missouri";

eval_err_num:489
extra pred: SELECT MIN(salary) FROM university WHERE state = 'History'
extra gold: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river WHERE traverse IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN ( area ) FROM state ) ) ) AND traverse IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN ( area ) FROM state ) );

eval_err_num:490
easy pred: SELECT avg(Population) FROM weather WHERE product_type_code = "San Jose"
easy gold: SELECT population / area FROM state WHERE state_name  =  "pennsylvania";

eval_err_num:491
hard pred: SELECT count(T1.SSN) FROM customer_addresses AS T1 JOIN submission AS T2 ON T1.address_id = T2.address_id WHERE T1.state_province_county = 'Charles'
hard gold: SELECT border FROM border_info WHERE state_name IN ( SELECT border FROM border_info WHERE state_name IN ( SELECT border FROM border_info WHERE state_name  =  "florida" ) );

eval_err_num:492
easy pred: SELECT state_province_county FROM addresses GROUP BY state_province_county HAVING count(*) >= 2
easy gold: SELECT COUNT ( DISTINCT state_name ) FROM border_info;

eval_err_num:493
easy pred: SELECT Speed FROM mountain ORDER BY Height DESC LIMIT 1
easy gold: SELECT MAX ( DISTINCT highest_elevation ) FROM highlow WHERE state_name  =  "texas";

eval_err_num:494
extra pred: SELECT * FROM addresses WHERE country = 'Cytosol'
extra gold: SELECT COUNT ( border ) FROM border_info WHERE border IN ( SELECT border FROM border_info WHERE state_name  =  "new mexico" ) AND state_name  =  "colorado";

eval_err_num:495
extra pred: SELECT count(*) FROM address AS T1 JOIN party AS T2 ON T1.city_id = T2.city_id WHERE T2.country = 'Australia'
extra gold: SELECT COUNT ( city_name ) FROM city WHERE population  >  150000 AND state_name IN ( SELECT border FROM border_info WHERE state_name  =  "nebraska" );

eval_err_num:496
medium pred: SELECT T1.state FROM addresses AS T1 JOIN customer_addresses AS T2 ON T1.address_id = T2.address_id WHERE T1.state_province_county = 'Charles'
medium gold: SELECT SUM ( t2.population ) FROM state AS t2 JOIN border_info AS t1 ON t2.state_name  =  t1.border WHERE t1.state_name  =  "texas";

eval_err_num:497
easy pred: SELECT max(support_rate) FROM candidate WHERE major = "German"
easy gold: SELECT lake_name FROM lake WHERE area  >  750;

eval_err_num:498
easy pred: SELECT Party_Theme FROM people WHERE line_1_number_building = "Eliot Kaitlyn Knolls%"
easy gold: SELECT lake_name FROM lake WHERE area  >  750;

eval_err_num:499
easy pred: SELECT color_description FROM products
easy gold: SELECT lake_name FROM lake;

eval_err_num:500
medium pred: SELECT count(*) FROM Claims WHERE Major = "UPS";

In [ ]:
!python /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/evaluation.py \
--gold /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files1/train_gold.txt \
--pred /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/text_files/pred_train_70000.txt \
--etype all --db /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/db_and_json_files/database \
--table /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/db_and_json_files/tables.json

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
eval_err_num:1
extra pred: SELECT T1.state FROM customer_addresses AS T1 JOIN department AS T2 ON T1.head = T2.organization_id WHERE dept_name = "Brazil"
extra gold: SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'

eval_err_num:2
easy pred: SELECT count(*) FROM Employees;
easy gold: SELECT count(*) FROM Employee

eval_err_num:3
extra pred: SELECT T2.name FROM GENRE AS T1 JOIN playlists AS T2 ON T1.bandmate = T2.id JOIN Songs AS T3 ON T3.id = T2.media_type_id WHERE T3.name = "Rock" AND T3.name != "MPEG audio file";
extra gold: SELECT T1.name FROM tracks AS T1 JOIN playlist_tracks AS T2 ON T1.id  =  T2.track_id JOIN playlists AS T3 ON T2.playlist_id  =  T3.id WHERE T3.name  =  'Movies' EXCEPT SELECT T1.name FROM tracks AS T1 JOIN playlist_tracks AS T2 ON T1.id  =  T2.track_id JOIN playlists AS T3 ON T2.playlist_id  =  T3.id WHERE T3.name  =  'Music'

eval_err_num:4
extra pred: SELECT T1.name FROM tracks AS T1 JOIN playlist_tracks AS T2 ON T1.id = T2.genre_id WHERE T1.name = "Rock" AND T1.name != "Jazz"
extra gold: SELECT T1.name FROM tracks AS T1 JOIN playlist_tracks AS T2 ON T1.id  =  T2.track_id JOIN playlists AS T3 ON T2.playlist_id  =  T3.id WHERE T3.name  =  'Movies' EXCEPT SELECT T1.name FROM tracks AS T1 JOIN playlist_tracks AS T2 ON T1.id  =  T2.track_id JOIN playlists AS T3 ON T2.playlist_id  =  T3.id WHERE T3.name  =  'Music'

eval_err_num:5
extra pred: SELECT T1.name FROM tracks AS T1 JOIN song AS T2 ON T1.id = T2.genre_id WHERE T1.name = "Rock" INTERSECT SELECT T1.name FROM tracks AS T1 JOIN track AS T2 ON T1.id = T2.track_id WHERE T1.name = 'GT'
extra gold: SELECT T1.name FROM tracks AS T1 JOIN playlist_tracks AS T2 ON T1.id  =  T2.track_id JOIN playlists AS T3 ON T2.playlist_id  =  T3.id WHERE T3.name  =  'Movies' INTERSECT SELECT T1.name FROM tracks AS T1 JOIN playlist_tracks AS T2 ON T1.id  =  T2.track_id JOIN playlists AS T3 ON T2.playlist_id  =  T3.id WHERE T3.name  =  'Music'

eval_err_num:6
extra pred: SELECT T1.name FROM tracks AS T1 JOIN track AS T2 ON T1.id = T2.genre_id WHERE T1.name = "Rock" INTERSECT SELECT T1.name FROM tracks AS T1 JOIN track AS T2 ON T1.id = T2.track_id WHERE T1.name = 'GT'
extra gold: SELECT T1.name FROM tracks AS T1 JOIN playlist_tracks AS T2 ON T1.id  =  T2.track_id JOIN playlists AS T3 ON T2.playlist_id  =  T3.id WHERE T3.name  =  'Movies' INTERSECT SELECT T1.name FROM tracks AS T1 JOIN playlist_tracks AS T2 ON T1.id  =  T2.track_id JOIN playlists AS T3 ON T2.playlist_id  =  T3.id WHERE T3.name  =  'Music'

eval_err_num:7
extra pred: SELECT T1.title FROM albums AS T1 JOIN tracklists AS T2 ON T1.aid = T2.albumid WHERE T1.Title = "Balls to the Wall";
extra gold: SELECT T1.Title FROM Album AS T1 JOIN Track AS T2 ON T1.AlbumId  =  T2.AlbumId JOIN Genre AS T3 ON T2.GenreID  =  T3.GenreID WHERE T3.Name  =  'Reggae' INTERSECT SELECT T1.Title FROM Album AS T1 JOIN Track AS T2 ON T1.AlbumId  =  T2.AlbumId JOIN Genre AS T3 ON T2.GenreID  =  T3.GenreID WHERE T3.Name  =  'Rock'

eval_err_num:8
extra pred: SELECT T1.title FROM albums AS T1 JOIN tracks AS T2 ON T1.id = T2.genre_id WHERE T1.name = "Balls to the Wall";
extra gold: SELECT T1.Title FROM Album AS T1 JOIN Track AS T2 ON T1.AlbumId  =  T2.AlbumId JOIN Genre AS T3 ON T2.GenreID  =  T3.GenreID WHERE T3.Name  =  'Reggae' INTERSECT SELECT T1.Title FROM Album AS T1 JOIN Track AS T2 ON T1.AlbumId  =  T2.AlbumId JOIN Genre AS T3 ON T2.GenreID  =  T3.GenreID WHERE T3.Name  =  'Rock'

eval_err_num:9
extra pred: SELECT t1.customer_name FROM customers AS t1 JOIN first_notification_of_loss AS t2 ON t1.customer_id = t2.customer_id JOIN services AS t3 ON t2.service_id = t3.service_id WHERE t3.service_name = "Close a policy" INTERSECT SELECT a FROM customers AS t1 JOIN first_notification_of_loss AS t2 ON t1.customer_id = t2.customer_id JOIN services AS t3 ON t2.service_id = t3.address_id WHERE t3.service_name = 111
extra gold: SELECT t1.customer_name FROM customers AS t1 JOIN first_notification_of_loss AS t2 ON t1.customer_id  =  t2.customer_id JOIN services AS t3 ON t2.service_id  =  t3.service_id WHERE t3.service_name  =  "Close a policy" INTERSECT SELECT t1.customer_name FROM customers AS t1 JOIN first_notification_of_loss AS t2 ON t1.customer_id  =  t2.customer_id JOIN services AS t3 ON t2.service_id  =  t3.service_id WHERE t3.service_name  =  "New policy application"

eval_err_num:10
easy pred: SELECT count(*) FROM county_public_safety
easy gold: SELECT count(*) FROM country

eval_err_num:11
extra pred: SELECT T1.name FROM stadium AS T1 JOIN Player_Attributes AS T2 ON T1.id = T2.game_id WHERE T2.player = "left" AND T2.name_last = "right"
extra gold: SELECT T2.name FROM game AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.id JOIN injury_accident AS T3 ON T1.id  =  T3.game_id WHERE T3.player  =  'Walter Samuel' INTERSECT SELECT T2.name FROM game AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.id JOIN injury_accident AS T3 ON T1.id  =  T3.game_id WHERE T3.player  =  'Thiago Motta'

eval_err_num:12
easy pred: SELECT count(*) FROM user_profiles
easy gold: SELECT count(*) FROM useracct

eval_err_num:13
extra pred: SELECT T1.name FROM browser AS T1 JOIN accelerator_compatible_browser AS T2 ON T1.id = T2.browser_id WHERE T1.brand = 'CProxy' INTERSECT SELECT T1.name FROM browser AS T1 JOIN accelerator_compatible_browser AS T2 ON T1.id = T2.browser_id WHERE T1.brand = 'activitor'
extra gold: SELECT T3.name FROM web_client_accelerator AS T1 JOIN accelerator_compatible_browser AS T2 ON T2.accelerator_id  =  T1.id JOIN browser AS T3 ON T2.browser_id  =  T3.id WHERE T1.name  =  'CACHEbox' INTERSECT SELECT T3.name FROM web_client_accelerator AS T1 JOIN accelerator_compatible_browser AS T2 ON T2.accelerator_id  =  T1.id JOIN browser AS T3 ON T2.browser_id  =  T3.id WHERE T1.name  =  'Fasterfox'

eval_err_num:14
extra pred: SELECT T1.driverid , T1.surname FROM drivers AS T1 JOIN results AS T2 ON T1.driverid = T2.driverid WHERE T3.year = 2016 AND T2.wins = "Bernie"
extra gold: SELECT T2.driverid ,  T3.forename FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid  =  T3.driverid WHERE T1.name = "Australian Grand Prix" INTERSECT SELECT T2.driverid ,  T3.forename FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid  =  T3.driverid WHERE T1.name = "Chinese Grand Prix"

eval_err_num:15
extra pred: SELECT T1.driverid , T2.first_name FROM drivers AS T1 JOIN results AS T2 ON T1.driverid = T2.driverid JOIN races AS T3 ON T2.raceid = T3.raceid WHERE T3.forename = "Lewis" AND T2.enroll_grade = T3.raceid
extra gold: SELECT T2.driverid ,  T3.forename FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid  =  T3.driverid WHERE T1.name = "Australian Grand Prix" INTERSECT SELECT T2.driverid ,  T3.forename FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid  =  T3.driverid WHERE T1.name = "Chinese Grand Prix"

eval_err_num:16
extra pred: SELECT T1.forename , T1.surname FROM drivers AS T1 JOIN results AS T2 ON T1.driverid = T2.driverid WHERE races = "Australian Grand Prix" AND YEAR != 40
extra gold: SELECT T3.forename ,  T3.surname FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid = T3.driverid WHERE T1.name = "Australian Grand Prix" EXCEPT SELECT T3.forename ,  T3.surname FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid = T3.driverid WHERE T1.name = "Chinese Grand Prix"

eval_err_num:17
extra pred: SELECT T1.forename , T1.surname FROM drivers AS T1 JOIN results AS T2 ON T1.driverid = T2.driverid WHERE T2.genre_is = "Zieme" AND T2.enroll_grade = "KIRK" EXCEPT SELECT T1.surname , T1.surname FROM drivers AS T1 JOIN results AS T2 ON T1.driverid = T2.driverid WHERE T2.firstname = "Lockmanfurt";
extra gold: SELECT T3.forename ,  T3.surname FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid = T3.driverid WHERE T1.name = "Australian Grand Prix" EXCEPT SELECT T3.forename ,  T3.surname FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid = T3.driverid WHERE T1.name = "Chinese Grand Prix"

eval_err_num:18
extra pred: SELECT T1.surname , T1.forename , T1.nationality FROM drivers AS T1 JOIN pitstops AS T2 ON T1.driverid = T2.driverid GROUP BY T1.driverid HAVING count(*) > 5 UNION SELECT T1.forename , T1.last_name FROM drivers AS T1 JOIN results AS T2 ON T1.driverid = T2.driverid GROUP BY T1.driverid HAVING count(*) > 5
extra gold: SELECT T1.forename ,  T1.surname ,  T1.driverid FROM drivers AS T1 JOIN pitstops AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  >  8 UNION SELECT T1.forename ,  T1.surname ,  T1.driverid FROM drivers AS T1 JOIN results AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  >  5

eval_err_num:19
extra pred: SELECT date , T1.forename , T2.gradepoint FROM weather WHERE weight > 11 OR height > 5
extra gold: SELECT T1.forename ,  T1.surname ,  T1.driverid FROM drivers AS T1 JOIN pitstops AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  >  8 UNION SELECT T1.forename ,  T1.surname ,  T1.driverid FROM drivers AS T1 JOIN results AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  >  5

extra pred: SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id = T2.storm_id WHERE T1.name = 'Denmark' INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id = T2.storm_id WHERE T1.name = 'Denmark'
extra gold: SELECT T3.Name FROM affected_region AS T1 JOIN region AS T2 ON T1.region_id  =  T2.region_id JOIN storm AS T3 ON T1.storm_id  =  T3.storm_id WHERE T2.Region_name  =  'Afghanistan' INTERSECT SELECT T3.Name FROM affected_region AS T1 JOIN region AS T2 ON T1.region_id  =  T2.region_id JOIN storm AS T3 ON T1.storm_id  =  T3.storm_id WHERE T2.Region_name  =  'Albania'

eval_err_num:20
extra pred: SELECT T2.region_name FROM affected_region AS T1 JOIN region AS T2 ON T1.region_id = T2.region_id JOIN storm AS T3 ON T1.storm_id = T3.storm_id WHERE T3.number_deaths = 'Denmark' INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id = T2.storm_id WHERE T1.name = 'Denmark'
extra gold: SELECT T3.Name FROM affected_region AS T1 JOIN region AS T2 ON T1.region_id  =  T2.region_id JOIN storm AS T3 ON T1.storm_id  =  T3.storm_id WHERE T2.Region_name  =  'Afghanistan' INTERSECT SELECT T3.Name FROM affected_region AS T1 JOIN region AS T2 ON T1.region_id  =  T2.region_id JOIN storm AS T3 ON T1.storm_id  =  T3.storm_id WHERE T2.Region_name  =  'Albania'

eval_err_num:21
easy pred: SELECT count(*) FROM customers
easy gold: SELECT sum(no_of_customers) FROM bank

eval_err_num:22
hard pred: SELECT T1.company_name FROM Third_Party_Companies AS T1 JOIN Maintenance_Contracts AS T2 ON T1.company_id = T2.maintenance_contract_company_id ORDER BY T2.contract_start_date ASC LIMIT 1SELECT gender FROM staff GROUP BY gender ORDER BY count(*) DESC LIMIT 1
hard gold: SELECT T1.company_name FROM Third_Party_Companies AS T1 JOIN Maintenance_Contracts AS T2 ON T1.company_id  =  T2.maintenance_contract_company_id ORDER BY T2.contract_start_date ASC LIMIT 1

hard pred: SELECT T1.staff_name , count(*) FROM Staff AS T1 JOIN Engineer_Visits AS T2 ON T1.staff_id = T2.contact_staff_id GROUP BY T1.staff_name
hard gold: SELECT gender FROM staff GROUP BY gender ORDER BY count(*) DESC LIMIT 1

medium pred: SELECT asset_model FROM Assets WHERE asset_id NOT IN (SELECT asset_id FROM Fault_Log)
medium gold: SELECT T1.staff_name ,  count(*) FROM Staff AS T1 JOIN Engineer_Visits AS T2 ON T1.staff_id  =  T2.contact_staff_id GROUP BY T1.staff_name

eval_err_num:23
hard pred: SELECT local_authority , services FROM station
hard gold: SELECT asset_model FROM Assets WHERE asset_id NOT IN (SELECT asset_id FROM Fault_Log)

medium pred: SELECT train_number , name FROM train ORDER BY TIME
medium gold: SELECT local_authority ,  services FROM station

medium pred: SELECT TIME , train_number FROM train WHERE destination = 'Chennai' ORDER BY TIME
medium gold: SELECT train_number ,  name FROM train ORDER BY TIME

medium pred: SELECT count(*) FROM train WHERE name LIKE "%Express%"
medium gold: SELECT TIME ,  train_number FROM train WHERE destination  =  'Chennai' ORDER BY TIME

medium pred: SELECT train_number , TIME FROM train WHERE origin = 'Chennai' AND destination = 'Guruvayur'
medium gold: SELECT count(*) FROM train WHERE name LIKE "%Express%"

medium pred: SELECT origin , count(*) FROM train GROUP BY origin
medium gold: SELECT train_number ,  TIME FROM train WHERE origin  =  'Chennai' AND destination  =  'Guruvayur'

medium pred: SELECT t1.name FROM train AS t1 JOIN route AS t2 ON t1.id = t2.train_id GROUP BY t2.train_id ORDER BY count(*) DESC LIMIT 1
medium gold: SELECT origin ,  count(*) FROM train GROUP BY origin

extra pred: SELECT count(*) , t1.network_name , t1.services FROM station AS t1 JOIN route AS t2 ON t1.id = t2.station_id GROUP BY t2.station_id
extra gold: SELECT t1.name FROM train AS t1 JOIN route AS t2 ON t1.id  =  t2.train_id GROUP BY t2.train_id ORDER BY count(*) DESC LIMIT 1

medium pred: SELECT avg(high_temperature) , day_of_week FROM weekly_weather GROUP BY day_of_week
medium gold: SELECT count(*) ,  t1.network_name ,  t1.services FROM station AS t1 JOIN route AS t2 ON t1.id  =  t2.station_id GROUP BY t2.station_id

medium pred: SELECT max(t1.low_temperature) , avg(t1.precipitation) FROM weekly_weather AS t1 JOIN station AS t2 ON t1.station_id = t2.id WHERE t2.network_name = "Amersham"
medium gold: SELECT avg(high_temperature) ,  day_of_week FROM weekly_weather GROUP BY day_of_week

extra pred: SELECT t3.name , t3.time FROM station AS t1 JOIN route AS t2 ON t1.id = t2.station_id JOIN train AS t3 ON t2.train_id = t3.id WHERE t1.local_authority = "Chiltern"
extra gold: SELECT max(t1.low_temperature) ,  avg(t1.precipitation) FROM weekly_weather AS t1 JOIN station AS t2 ON t1.station_id  =  t2.id WHERE t2.network_name  =  "Amersham"

hard pred: SELECT count(DISTINCT services) FROM station
hard gold: SELECT t3.name ,  t3.time FROM station AS t1 JOIN route AS t2 ON t1.id  =  t2.station_id JOIN train AS t3 ON t2.train_id  =  t3.id WHERE t1.local_authority  =  "Chiltern"

easy pred: SELECT t2.id , t2.local_authority FROM weekly_weather AS t1 JOIN station AS t2 ON t1.station_id = t2.id GROUP BY t1.station_id ORDER BY avg(high_temperature) DESC LIMIT 1
easy gold: SELECT count(DISTINCT services) FROM station

extra pred: SELECT t2.id , t2.local_authority FROM weekly_weather AS t1 JOIN station AS t2 ON t1.station_id = t2.id GROUP BY t1.station_id HAVING max(t1.precipitation) > 50
extra gold: SELECT t2.id ,  t2.local_authority FROM weekly_weather AS t1 JOIN station AS t2 ON t1.station_id  =  t2.id GROUP BY t1.station_id ORDER BY avg(high_temperature) DESC LIMIT 1

medium pred: SELECT min(low_temperature) , max(wind_speed_mph) FROM weekly_weather
medium gold: SELECT t2.id ,  t2.local_authority FROM weekly_weather AS t1 JOIN station AS t2 ON t1.station_id  =  t2.id GROUP BY t1.station_id HAVING max(t1.precipitation)  >  50

medium pred: SELECT origin FROM train GROUP BY origin HAVING count(*) > 1
medium gold: SELECT min(low_temperature) ,  max(wind_speed_mph) FROM weekly_weather

eval_err_num:24
easy pred: SELECT count(*) FROM professor AS T1 JOIN department AS T2 ON T1.dept_code = T2.dept_code WHERE DEPT_NAME = "Accounting"
easy gold: SELECT origin FROM train GROUP BY origin HAVING count(*)  >  1

medium pred: SELECT count(DISTINCT PROF_NUM) FROM CLASS WHERE CRS_CODE = "ACCT-211"
medium gold: SELECT count(*) FROM professor AS T1 JOIN department AS T2 ON T1.dept_code  =  T2.dept_code WHERE DEPT_NAME  =  "Accounting"

easy pred: SELECT T3.EMP_FNAME , T3.EMP_LNAME FROM professor AS T1 JOIN department AS T2 ON T1.dept_code = T2.dept_code JOIN employee AS T3 ON T1.EMP_NUM = T3.EMP_NUM WHERE DEPT_NAME = "Biology"
easy gold: SELECT count(DISTINCT PROF_NUM) FROM CLASS WHERE CRS_CODE  =  "ACCT-211"

hard pred: SELECT DISTINCT T1.EMP_FNAME , T1.EMP_DOB FROM employee AS T1 JOIN CLASS AS T2 ON T1.EMP_NUM = T2.PROF_NUM WHERE CRS_CODE = "ACCT-211"
hard gold: SELECT T3.EMP_FNAME ,  T3.EMP_LNAME FROM professor AS T1 JOIN department AS T2 ON T1.dept_code  =  T2.dept_code JOIN employee AS T3 ON T1.EMP_NUM  =  T3.EMP_NUM WHERE DEPT_NAME  =  "Biology"

medium pred: SELECT count(*) FROM employee AS T1 JOIN CLASS AS T2 ON T1.EMP_NUM = T2.PROF_NUM WHERE T1.EMP_LNAME = 'Graztevski'
medium gold: SELECT DISTINCT T1.EMP_FNAME ,  T1.EMP_DOB FROM employee AS T1 JOIN CLASS AS T2 ON T1.EMP_NUM  =  T2.PROF_NUM WHERE CRS_CODE  =  "ACCT-211"

medium pred: SELECT school_code FROM department WHERE dept_name = "Accounting"
medium gold: SELECT count(*) FROM employee AS T1 JOIN CLASS AS T2 ON T1.EMP_NUM  =  T2.PROF_NUM WHERE T1.EMP_LNAME  =  'Graztevski'

easy pred: SELECT crs_credit , crs_description FROM course WHERE crs_code = 'CIS-220'
easy gold: SELECT school_code FROM department WHERE dept_name  =  "Accounting"

medium pred: SELECT dept_address FROM department WHERE dept_name = 'History'
medium gold: SELECT crs_credit ,  crs_description FROM course WHERE crs_code  =  'CIS-220'

easy pred: SELECT count(DISTINCT dept_address) FROM department WHERE school_code = 'BUS'
easy gold: SELECT dept_address FROM department WHERE dept_name  =  'History'

easy pred: SELECT count(DISTINCT dept_address) , school_code FROM department GROUP BY school_code
easy gold: SELECT count(DISTINCT dept_address) FROM department WHERE school_code  =  'BUS'

medium pred: SELECT crs_credit , crs_description FROM course WHERE crs_code = 'QM-261'
medium gold: SELECT count(DISTINCT dept_address) ,  school_code FROM department GROUP BY school_code

medium pred: SELECT count(DISTINCT dept_name) , school_code FROM department GROUP BY school_code
medium gold: SELECT crs_credit ,  crs_description FROM course WHERE crs_code  =  'QM-261'

medium pred: SELECT count(DISTINCT dept_name) , school_code FROM department GROUP BY school_code HAVING count(DISTINCT dept_name) < 5
medium gold: SELECT count(DISTINCT dept_name) ,  school_code FROM department GROUP BY school_code

medium pred: SELECT count(*) , crs_code FROM CLASS GROUP BY crs_code
medium gold: SELECT count(DISTINCT dept_name) ,  school_code FROM department GROUP BY school_code HAVING count(DISTINCT dept_name)  <  5

medium pred: SELECT sum(crs_credit) , dept_code FROM course GROUP BY dept_code
medium gold: SELECT count(*) ,  crs_code FROM CLASS GROUP BY crs_code

medium pred: SELECT count(*) , class_room FROM CLASS GROUP BY class_room HAVING count(*) >= 2
medium gold: SELECT sum(crs_credit) ,  dept_code FROM course GROUP BY dept_code

medium pred: SELECT count(*) , dept_code FROM CLASS AS T1 JOIN course AS T2 ON T1.crs_code = T2.crs_code GROUP BY dept_code
medium gold: SELECT count(*) ,  class_room FROM CLASS GROUP BY class_room HAVING count(*)  >=  2

medium pred: SELECT count(*) , T3.school_code FROM CLASS AS T1 JOIN course AS T2 ON T1.crs_code = T2.crs_code JOIN department AS T3 ON T2.dept_code = T3.dept_code GROUP BY T3.school_code
medium gold: SELECT count(*) ,  dept_code FROM CLASS AS T1 JOIN course AS T2 ON T1.crs_code  =  T2.crs_code GROUP BY dept_code

hard pred: SELECT count(*) , T1.school_code FROM department AS T1 JOIN professor AS T2 ON T1.dept_code = T2.dept_code GROUP BY T1.school_code

In [ ]:
!python /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/evaluation.py \
--gold /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/my_text_files/my_train_gold_final.txt \
--pred /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/my_text_files/my_pred_train_final.txt \
--etype all --db /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/db_and_json_files/database \
--table /content/drive/MyDrive/Text_to_SQL_using_OpenNMT_and_Wiki_Spider_data/spider/spider_data/db_and_json_files/tables.json

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
                     easy                 medium               hard                 extra                all
count                1428                 2290                 1258                 815                  5791
=====================   EXECUTION ACCURACY     =====================
execution            1.000                1.000                1.000                0.998                1.000

====================== EXACT MATCHING ACCURACY =====================
exact match          1.000                1.000                1.000                1.000                1.000

---------------------PARTIAL MATCHING ACCURACY----------------------
select               1.000                1.000                1.000                1.000                1.000
select(no AGG)       1.000                1.000                1.000                1.000                1.000
where                1.000                1.000                1.000                1.000                1.000
where(no OP)         1.000                1.000                1.000                1.000                1.000
group(no Having)     1.000                1.000                1.000                1.000                1.000
group                1.000                1.000                1.000                1.000                1.000
order                1.000                1.000                1.000                1.000                1.000
and/or               1.000                1.000                1.000                1.000                1.000
IUEN                 0.000                0.000                1.000                1.000                1.000
keywords             1.000                1.000                1.000                1.000                1.000
---------------------- PARTIAL MATCHING RECALL ----------------------
select               1.000                1.000                1.000                1.000                1.000
select(no AGG)       1.000                1.000                1.000                1.000                1.000
where                1.000                1.000                1.000                1.000                1.000
where(no OP)         1.000                1.000                1.000                1.000                1.000
group(no Having)     1.000                1.000                1.000                1.000                1.000
group                1.000                1.000                1.000                1.000                1.000
order                1.000                1.000                1.000                1.000                1.000
and/or               1.000                1.000                1.000                1.000                1.000
IUEN                 0.000                0.000                1.000                1.000                1.000
keywords             1.000                1.000                1.000                1.000                1.000
---------------------- PARTIAL MATCHING F1 --------------------------
select               1.000                1.000                1.000                1.000                1.000
select(no AGG)       1.000                1.000                1.000                1.000                1.000
where                1.000                1.000                1.000                1.000                1.000
where(no OP)         1.000                1.000                1.000                1.000                1.000
group(no Having)     1.000                1.000                1.000                1.000                1.000
group                1.000                1.000                1.000                1.000                1.000
order                1.000                1.000                1.000                1.000                1.000
and/or               1.000                1.000                1.000                1.000                1.000
IUEN                 1.000                1.000                1.000                1.000                1.000
keywords             1.000                1.000                1.000                1.000                1.000